@model Foto

<h1>Registrar Foto</h1>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="URL"></label>
        <input asp-for="URL" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Usuario"></label>
        <input asp-for="Usuario" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Registrar</button>
</form>